node_modules

# IntelliJ IDEA #
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/usage.statistics.xml
/.idea/**/shelf
/.idea/sonarlint
/.idea/**/dataSources/
/.idea/**/dataSources.local.xml
/.idea/httpRequests/
/.idea/libraries

# Maven #
target/
.surefire-*
.flattened-pom.xml

